<h1>You know you're cool if you're a shouter!!!</h1>
<!-- <p>Find me in app/views/user/index.html.erb</p> -->

<!-- <ul>
	<% @users.each do |u| %>
	<li>
		<%= u.username %> (<%= u.id %>)
	</li>
	<% end %>
</ul> -->

<ul>
	<% @users.each do |u| %>
	<li>
		<%= link_to u.username, u %>
	</li>
	<% end %>
</ul>

<%= render "marketing" %>